---
import { getAllUsers } from "../../db/select.js";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";
import CardContainer from "../../components/CardContainer.astro";

const { username } = Astro.params;
const allUsers = await getAllUsers();
const userExists = allUsers.includes(username);
const allPosts = await Astro.glob("../posts/*.md");
const authoredPosts = allPosts.filter((post) => post.frontmatter.author == username);
const pageTitle = userExists ? `${username}'s profile` : `User "${username}" doesn't exist`;
---

<style>
    h2 {
        border-bottom: 5px solid black; /* add a line below the heading */
        padding-bottom: 10px; /* add some space between the heading and the line */
    }
</style>

<BaseLayout pageTitle={pageTitle}>
    {
        userExists ? (
            <>
                <h2>Authored posts:</h2>
                <CardContainer posts={authoredPosts}/>
            </>
        ) : (
            <h2>Browse other users</h2>
        )
    }
</BaseLayout>
