---
import { getAllUsers } from "../../db/cockroachdb/select.js";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Fuse from "fuse.js";

const allUsers = await getAllUsers();

let users = null;
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const username = data.get("username");
    const fuse = new Fuse(allUsers);
    users = fuse.search(username.toString()).map((user) => user.item);
}
---

<style>
    .user-search {
        display: flex;
        gap: 1rem;
    }

    .user-search input {
        background-color: rgb(220, 220, 220);
        color: rgb(0, 0, 0);
        border: solid rgb(109, 109, 109) 4px;
        border-radius: 10px;
        padding: 0.5rem;
    }

    .user-search input[type="submit"]:active {
        background-color: #ff9776;
    }

    .center {
        align-self: center;
    }

    #resultContainer {
        display: flex;
        flex-direction: column;
    }
</style>

<BaseLayout>
    <div class="center">
        <label for="searchBar">Search for a user</label>
        <form method="POST">
            <div class="user-search">
                <input type="text" id="searchBar" name="username" />
                <input type="submit" id="searchButton" value="Search" />
            </div>
        </form>
        <div id="resultContainer">
            {users && users.map((user) => <a href={user} class="green-link">{user}</a>)}
        </div>
    </div>
</BaseLayout>
<div></div>
