---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<style>
    .user-search {
        display: flex;
        gap: 1rem;
    }

    .user-search input,
    .user-search button {
        background-color: rgb(220, 220, 220);
        color: rgb(0, 0, 0);
        border: solid rgb(109, 109, 109) 4px;
        border-radius: 10px;
        padding: 0.5rem;
    }

    .user-search button:active {
        background-color: #ff9776;
    }

    .center{
        align-self: center;
    }

    #resultContainer{
        display: flex;
        flex-direction: column;
    }
</style>

<BaseLayout>
    <div class="center">
        <label for="searchBar">Search for a user</label>
        <div class="user-search">
            <input type="text" id="searchBar" />
            <button id="searchButton">Search</button>
        </div>
        <div id="resultContainer"></div>
    </div>
    <div></div>
</BaseLayout>

<script src={Astro.resolve("../../scripts/search.js")} type="module">
</script>
