---
import { getAllUsers } from "../../db/cockroachdb/select.js";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Fuse from "fuse.js"

const allUsers = await getAllUsers();
const fuse = new Fuse(allUsers);
---

<style>
    .user-search {
        display: flex;
        gap: 1rem;
    }

    .user-search input,
    .user-search button {
        background-color: rgb(220, 220, 220);
        color: rgb(0, 0, 0);
        border: solid rgb(109, 109, 109) 4px;
        border-radius: 10px;
        padding: 0.5rem;
    }

    .user-search button:active {
        background-color: #ff9776;
    }

    .center{
        align-self: center;
    }

    #resultContainer{
        display: flex;
        flex-direction: column;
    }
</style>

<BaseLayout>
    <div class="center">
        <label for="searchBar">Search for a user</label>
        <div class="user-search">
            <input type="text" id="searchBar" />
            <button id="searchButton">Search</button>
        </div>
        <div id="resultContainer"></div>
    </div>
    <div></div>
</BaseLayout>

<script define:vars={{ fuse }}>
    const searchButton = document.getElementById("searchButton");
    const searchBar = document.getElementById("searchBar");
    const resultContainer = document.getElementById("resultContainer");

    if (searchBar) {
        searchBar.addEventListener("change", (event) => {
            console.log(event.target.value);
        });
    }

    console.log(1);
    if (searchButton && searchBar && resultContainer) {
        console.log(2);
        searchButton.addEventListener("click", () => {
            console.log("AAAA")
            resultContainer.innerHTML = "";
            let searchResult = fuse.search(searchBar.value);
            searchResult.forEach((result) => {
                let userLink = document.createElement("a")
                userLink.setAttribute("href", result.item)
                userLink.setAttribute("class", "green-link")
                userLink.setAttribute("style", "margin-top: 1rem")
                userLink.innerText = result.item
                resultContainer.appendChild(userLink);
            });
        });
    }
</script>
