---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CardContainer from "../../components/CardContainer.astro";

const { tag } = Astro.params;
const allPosts = await Astro.glob("../posts/*.md");
const posts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
---

<BaseLayout pageTitle={tag}>
    <h2 class="section-header">Posts tagged with {tag}</h2>
    <CardContainer posts={posts} />
</BaseLayout>
