---
import BaseLayout from "../layouts/BaseLayout.astro";
import Member from "../components/Member.astro";

const pageTitle = "";
---

<BaseLayout pageTitle={pageTitle}>
    <section id="about">
        <h2>Acerca de nosotros</h2>
        <div class = marco>
        <p>Somos un apasionado grupo de estudiantes entusiastas que han unido fuerzas para crear un blog único. Nuestro objetivo es explorar y compartir diferentes hobbies que cualquier persona puede hacer en su tiempo libre. El blog ha sido creado con el poderoso y moderno framewrok Astro, el cual nos ha permitido crear un espacio en línea dedicado a brindar información y entusiasmo sobre temas apasionantes.</p>
        </div>
        <div class="team">

          <Member img= "https://assets.stickpng.com/images/585e4beacb11b227491c3399.png" nombre="Leire Echarri" email="lecharri001@ehu.eus"></Member>
          <Member img= "https://assets.stickpng.com/images/585e4beacb11b227491c3399.png" nombre="Unax Labaka" email="ulabaka001@ehu.eus"></Member>
          <Member img= "https://assets.stickpng.com/images/585e4beacb11b227491c3399.png" nombre="Aitor Castaño" email="acastano016@ehu.eus"></Member>
          <Member img= "https://assets.stickpng.com/images/585e4beacb11b227491c3399.png" nombre=" Aitor Velaz" email="avela@ehu.eus"></Member>
          
          
          
        </div>
      </section>
      
</BaseLayout>
