---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "";
---

<BaseLayout pageTitle={pageTitle}>
    <section id="about">
        <h2>Acerca de nosotros</h2>
        <p>Somos un equipo de cuatro personas compartiendo alguno de nuestro hobbies para que podais disfrutarlas tanto como nostros bobitos :)</p>
        
        <div class="team">
          <div class="member">
            <img src="https://assets.stickpng.com/images/585e4beacb11b227491c3399.png" alt="Foto de miembro del equipo 1">
            <h3>Leire Echarri</h3>
            <p>email: x@ikasle.ehu.eus</p>
          </div>
          
          <div class="member">
            <img src="https://assets.stickpng.com/images/585e4beacb11b227491c3399.png" alt="Foto de miembro del equipo 2">
            <h3>Unax Labaka</h3>
            <p>email: x@ikasle.ehu.eus</p>
          </div>
          
          <div class="member">
            <img src="https://assets.stickpng.com/images/585e4beacb11b227491c3399.png" alt="Foto de miembro del equipo 3">
            <h3>Aitor Castaño</h3>
            <p>email: x@ikasle.ehu.eus</p>
          </div>
          
          <div class="member">
            <img src="https://assets.stickpng.com/images/585e4beacb11b227491c3399.png" alt="Foto de miembro del equipo 4">
            <h3>Aitor Velaz</h3>
            <p>email: x@ikasle.ehu.eus</p>
          </div>
        </div>
      </section>
      
</BaseLayout>
