---
import { createUser } from "../db/insert.js";
import { userExists } from "../db/select.js"
import BaseLayout from "../layouts/BaseLayout.astro";

let errors = {
    username: "",
    password: "",
    email: "",
}

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const username = data.get("username");
    const password = data.get("password");
    const email = data.get("email");

    if(await userExists(username)){
        errors.username = "username exists"
    }else{
        createUser(username, password, email)
        return Astro.redirect("/")
    }

}
---

<style>
    .form-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .form-container form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    input[type="text"],
    input[type="submit"],
    input[type="password"] {
        border-radius: 7px;
        padding: 0.5rem;
        border: solid rgb(58, 58, 58) 2px;
    }

    input[type="text"],
    input[type="password"] {
        max-width: 20rem;
        width: 75vw;
    }

    .error-message{
        color: rgb(195, 21, 21);
        margin: 0.25rem 0 0 0;
    }
</style>

<BaseLayout pageTitle="Login page">
    <div class="form-container">
        <form action="./login" method="post">
            <label for="username">
                Username
                <br />
                <input type="text" name="username" id="username" required/>
                {errors.username && <p class="error-message">{errors.username}</p>}
            </label>

            <label for="password">
                Password
                <br />
                <input type="password" name="password" id="password" required />
            </label>

            <label for="email">
                Email
                <br />
                <input type="text" name="email" id="email" required />
            </label>

            <input type="submit" id="registerButton" value="Register" />
        </form>
    </div>
</BaseLayout>
