---
import { createUser } from "../db/cockroachdb/insert.js";
import { userExists } from "../db/cockroachdb/select.js"
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/forms.css"
import "../styles/dark.css"

let errors = {
    username: "",
    password: "",
    email: "",
}

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const username = data.get("username");
    const password = data.get("password");
    const email = data.get("email");

    console.log(await userExists(username))
    if(username == "browse" || await userExists(username)){
        errors.username = "username exists"
    }else{
        createUser(username, password, email)
        return Astro.redirect("/login")
    }
}
---

<BaseLayout>
    <div class="form-container">
        <form action="./register" method="post">
            <label for="username">
                Username
                <br />
                <input type="text" name="username" id="username" required/>
                {errors.username && <p class="error-message">{errors.username}</p>}
            </label>

            <label for="password">
                Password
                <br />
                <input type="password" name="password" id="password" required />
            </label>

            <label for="email">
                Email
                <br />
                <input type="email" name="email" id="email" required />
            </label>

            <input type="submit" id="registerButton" value="Register" />
        </form>
    </div>
    <div></div>
</BaseLayout>