---
import Social from "./Social.astro";
import Twitter from "./logos/Twitter.astro";
import Github from "./logos/Github.astro";
import Youtube from "./logos/Youtube.astro";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.25));
        width: 100%;
        padding: 2rem;
        bottom: 0;
        justify-content: space-around;
        backdrop-filter: blur(10px);
    }

    .col-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer > * {
        flex-basis: 0;
        flex-grow: 1;
    }

    p{
        font-weight: bold;
    }
</style>
<footer>
    <div class="col-container">
        <p>See this project on <a href="https://github.com/aiveni/Astro_Tutorial">GitHub</a>!</p>
    </div>

    <div class="col-container">
        <Social name="twitter" url="https://twitter.com/">
            <Twitter size="2rem"/>
        </Social>
        <Social name="github" url="https://github.com/">
            <Github size="2rem" />
        </Social>
        <Social name="youtube" url="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <Youtube size="2rem" />
        </Social>
    </div>
</footer>
