---
import UserIcon from "./UserIcon.astro";
---

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <a href="/tags/">Tags</a>
    <UserIcon size="3rem"/>
  </div>