---
const { name, url } = Astro.props;
---

<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        text-decoration: none;
        height: min-content;
    }

    .social-holder {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
</style>

<a href={url}>
    <div class="social-holder">
        <slot />
        {name}
    </div>
</a>
