---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/dark.css";

const user = Astro.cookies.get("user");
const userLogged = user.value != undefined;
const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>Astro</title>
    </head>
    <body>
        <div class="container">
            <Header />
            {pageTitle && <h1 class="page-title">{pageTitle}</h1>}
            <slot />
            {
                userLogged && (
                    <a href="" class="green-link" id="greenLink">
                        Log out
                    </a>
                )
            }
        </div>
        <Footer />

        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>

<script>
    const greenLink = document.getElementById("greenLink");
    if (greenLink) {
        greenLink.addEventListener("click", () => {
            console.log("mereketengue");
            document.cookie = "user=;Path=/;Expires= 11 Sep 2001 00:00:00 GMT;";
        });
    }
</script>
